import { __DOMAIN_SYMBOL__Service } from "__DOMAIN_PACKAGE__/service";
import { Effect } from "effect";

import { __SYMBOL__Group } from "./group";

export const __SYMBOL__HandlersLive = __SYMBOL__Group.toLayer(
  Effect.gen(function* () {
    const domain = yield* __DOMAIN_SYMBOL__Service;
    return __SYMBOL__Group.of({
      Get__DOMAIN_SYMBOL__: ({ id }) => domain.get(id),
      List__DOMAIN_SYMBOL__: () => domain.list(),
    });
  }),
);
