import { Layer } from "effect";
import { RpcSerialization, RpcServer as EffectRpcServer } from "effect/unstable/rpc";

import { __SYMBOL__Group } from "./group";
import { __SYMBOL__HandlersLive } from "./handlers";

export const __SYMBOL__HttpLayer = EffectRpcServer.layerHttp({
  disableFatalDefects: true,
  group: __SYMBOL__Group,
  path: "/rpc",
  protocol: "http",
}).pipe(Layer.provide([__SYMBOL__HandlersLive, RpcSerialization.layerNdjson]));
