import { Effect, Layer } from "effect";
import * as EffectRpcTest from "effect/unstable/rpc/RpcTest";

import { __SYMBOL__Group } from "./group";
import { __SYMBOL__HandlersLive } from "./handlers";
import { __SYMBOL__Client } from "./service";

export const __SYMBOL__ClientTest = Layer.effect(
  __SYMBOL__Client,
  EffectRpcTest.makeClient(__SYMBOL__Group).pipe(
    Effect.map((client) =>
      __SYMBOL__Client.of({
        get: (id) => client.Get__DOMAIN_SYMBOL__({ id }),
        list: () => client.List__DOMAIN_SYMBOL__(),
      }),
    ),
  ),
).pipe(Layer.provide(__SYMBOL__HandlersLive));
