import { Effect, Layer } from "effect";
import { FetchHttpClient } from "effect/unstable/http";
import { HttpApiClient as EffectHttpApiClient } from "effect/unstable/httpapi";

import { __SYMBOL__Api } from "../api";
import { __SYMBOL__ClientService } from "./service";

export const __SYMBOL__ClientBrowserLive = Layer.effect(
  __SYMBOL__ClientService,
  EffectHttpApiClient.make(__SYMBOL__Api).pipe(
    Effect.map((client) =>
      __SYMBOL__ClientService.of({
        get: (id) => client.domain.get({ params: { id } }),
        list: () => client.domain.list({}),
      }),
    ),
  ),
).pipe(Layer.provide(FetchHttpClient.layer));
