import type { Context } from "effect";
import { Effect, Layer } from "effect";
import { FetchHttpClient } from "effect/unstable/http";
import { HttpApiClient as EffectHttpApiClient } from "effect/unstable/httpapi";

import { __SYMBOL__Api } from "../api";
import { __SYMBOL__ClientService } from "./service";

export const make__SYMBOL__InProcessClient = (
  handler: (request: Request, context?: Context.Context<never>) => Promise<Response>,
) =>
  Layer.effect(
    __SYMBOL__ClientService,
    EffectHttpApiClient.make(__SYMBOL__Api, { baseUrl: "http://in-process.local" }).pipe(
      Effect.map((client) =>
        __SYMBOL__ClientService.of({
          get: (id) => client.domain.get({ params: { id } }),
          list: () => client.domain.list({}),
        }),
      ),
    ),
  ).pipe(
    Layer.provide(FetchHttpClient.layer),
    Layer.provide(
      Layer.succeed(
        FetchHttpClient.Fetch,
        Object.assign(
          (...args: Parameters<typeof globalThis.fetch>) => handler(new Request(args[0], args[1])),
          globalThis.fetch,
        ),
      ),
    ),
  );
