{
  "compilerOptions": {
    "composite": true,
    "customConditions": ["__SOURCE_CONDITION__"],
    "declaration": true,
    "declarationMap": true,
    "exactOptionalPropertyTypes": true,
    "module": "ESNext",
    "moduleResolution": "Bundler",
    "noEmit": true,
    "noUncheckedIndexedAccess": true,
    "skipLibCheck": true,
    "strict": true,
    "target": "ES2024",
    "verbatimModuleSyntax": true
  },
  "include": ["src", "test", "vitest.config.ts"]
}
