import type { __SYMBOL__Item } from "../schemas";
import { __SYMBOL__Id } from "../schemas";

export const example__SYMBOL__ = {
  id: __SYMBOL__Id.make("example"),
  name: "Example",
} satisfies __SYMBOL__Item;
