{
  "name": "__PACKAGE_NAME__",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "exports": {
    "./group": {
      "__SOURCE_CONDITION__": "./src/group.ts",
      "types": "./dist/group.d.ts",
      "default": "./dist/group.js"
    },
    "./handlers": {
      "__SOURCE_CONDITION__": "./src/handlers.ts",
      "types": "./dist/handlers.d.ts",
      "default": "./dist/handlers.js"
    },
    "./service": {
      "__SOURCE_CONDITION__": "./src/service.ts",
      "types": "./dist/service.d.ts",
      "default": "./dist/service.js"
    },
    "./server": {
      "__SOURCE_CONDITION__": "./src/server.ts",
      "types": "./dist/server.d.ts",
      "default": "./dist/server.js"
    },
    "./live": {
      "__SOURCE_CONDITION__": "./src/live.layer.ts",
      "types": "./dist/live.layer.d.ts",
      "default": "./dist/live.layer.js"
    },
    "./test": {
      "__SOURCE_CONDITION__": "./src/test.layer.ts",
      "types": "./dist/test.layer.d.ts",
      "default": "./dist/test.layer.js"
    }
  },
  "publishConfig": {
    "exports": {
      "./group": {
        "types": "./dist/group.d.ts",
        "default": "./dist/group.js"
      },
      "./service": {
        "types": "./dist/service.d.ts",
        "default": "./dist/service.js"
      },
      "./server": {
        "types": "./dist/server.d.ts",
        "default": "./dist/server.js"
      },
      "./live": {
        "types": "./dist/live.layer.d.ts",
        "default": "./dist/live.layer.js"
      }
    }
  },
  "scripts": {
    "build": "rm -rf dist && tsc -p tsconfig.build.json",
    "check-types": "tsc --noEmit",
    "test": "vitest run"
  },
  "dependencies": {
    "__DOMAIN_PACKAGE__": "workspace:*",
    "effect": "__EFFECT_VERSION__"
  },
  "devDependencies": {
    "@effect/vitest": "__EFFECT_VERSION__",
    "typescript": "__VERSION_TYPESCRIPT__",
    "vitest": "__VERSION_VITEST__"
  }
}
