import { Layer } from "effect";
import { HttpServer } from "effect/unstable/http";
import { HttpApiBuilder as EffectHttpApiBuilder } from "effect/unstable/httpapi";

import { __SYMBOL__Api } from "./api";
import { __SYMBOL__HandlersLive } from "./handlers";

export const __SYMBOL__Routes = EffectHttpApiBuilder.layer(__SYMBOL__Api).pipe(
  Layer.provide(__SYMBOL__HandlersLive),
  Layer.provide(HttpServer.layerServices),
);
